<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Edit Profile</title>
		<link rel="stylesheet" type="text/css" th:href="@{/editProfile.css}">
	</head>
	<body>
		<h2> EDIT PROFILE</h2>
		<form action="/updateProfile" method="post" enctype="multipart/form-data">
				<label>DOB:</label>
				<input type="date" name="dob">
				<br><br>
				
				<label>Gender:</label>
				<label>M</label><input type="radio" name="gender" value="M">
				<label>F</label><input type="radio" name="gender" value="F">
				<label>O</label><input type="radio" name="gender" value="O">
				<br><br>
				
				<label>CITY:</label>
				<input type="text" name="city">
				<br><br>
				
				<label>BIO:</label>
				<input type="text" name="bio">
				<br><br>
				
				<label>COLLEGE:</label>
				<input type="text" name="college">
				<br><br>
				
				<label>LINKED IN:</label>
				<input type="text" name="linkedIn">
				<br><br>
				
				<label>GIT HUB:</label>
				<input type="text" name="gitHub">
				<br><br>
				
				<input type="file" name="photo" accept="image/*">
				
				
				<input type="submit" value="UPDATE PROFILE">
				<hr>
		</form>
	</body>
</html>