<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/forgotPassword.css}">

</head>
<body>

    <h2>Reset Your Password</h2>
    <form action="/resetPassword" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <button type="submit">Reset Password</button>
    </form>
     <div class="popup-message" id="popup-message">
                <p th:text="${error}" ></p>
            </div>
</body>
<script>
    
    window.onload = function() {
        var popup = document.getElementById("popup-message");

        if (popup) {
            setTimeout(function() {
                popup.style.display = 'none';  
            }, 2000);
        }
    };
</script>
</html>
