<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>LikeWave</title>
		<link rel="stylesheet" type="text/css" th:href="@{/index.css}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
	</head>
	<body>
        <div class="navbar">
            <h1>LIKEWAVE</h1>
        </div>
        <div class="description">
		    <h1> Welcome to LikeWave..!</h1>
		    <h3>Surf the waves of social interaction! Like, comment, and craft fun captions on photos and videos. LikeWave helps you connect with your community in real-time.</h3>
        </div>
        <div class="container">
            <form action="/login" method="post">
             
                <div class="text-box1">
                    <input type="text" name="username" placeholder="Username">
                    <i class='bx bx-user'></i>
                </div>
                
                <div class="text-box2">
                    <input type="password" name="password" placeholder="Password">
                    <i class='bx bx-lock-alt'></i>
                </div>
                
                <div class="btn">
                    <input type="submit" value="LOGIN">
                </div><br>
                
                <a href="/forgotPassword">Forgot Password?</a>
                <hr>
               
               <div>
                	<a href="/openSignUp" class="button">Create new account</a>
               </div>      
            </form>
            
             <div class="popup-message" id="popup-message">
                <p th:text="${message}" ></p>
            </div>
        </div>
  
	</body>
	<script>
    
    window.onload = function() {
        var popup = document.getElementById("popup-message");

        if (popup) {
            setTimeout(function() {
                popup.style.display = 'none';  
            }, 2000);
        }
    };
	</script>
</html>