<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>LikeWave SignUp</title>
		<link rel="stylesheet" type="text/css" th:href="@{/signUp.css}">
		 <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		
	</head>
	<body>
			<h3>Create a new Account</h3>
			<form action="/signUp" method="post">
			<div>
			<input type="text" name="username" placeholder="Username"> <i1 class='bx bx-user'></i1>
			<br>
			</div>
			
			<input type="email" name="email" placeholder="Email" ><i2 class='bx bx-envelope'></i2>
			<br>
			
		
			<input type="password" name="password" placeholder="Password" ><i3 class='bx bx-lock-alt'></i3>
			<br>
			
			
			<input type="tel" name="phone" placeholder="Contact number"><i4 class='bx bx-phone-call'></i4>
			<br>
			
			<label>DOB:</label>
			<input type="date" name="dob">
			<br><br>
			
			<label>Gender:</label>
			<label>M</label><input type="radio" name="gender" value="M">
			<label>F</label><input type="radio" name="gender" value="F">
			<label>O</label><input type="radio" name="gender" value="O">
			
			<br><br>
			
			<input type="submit" value="SIGN UP">
			<hr>
			<a href="/">Already Have account..Login here</a>
	
		</form>
	
	</body>
</html>