	body {
	    background-color: #fbf2c4;
	    font-family: Arial, sans-serif;
	    margin: 0;
	    padding: 20px;
	}
	
	h2 {
	    text-align: center;
	    color: #c7522a;
	}
	
	.profile-header {
	    text-align: center;
	    margin-bottom: 20px;
	}
	
	.cover-photo {
	    background-color: #e5c185;
	    height: 150px;
	    border-radius: 8px;
	    margin-bottom: 15px;
	}
	
	.profile-picture {
	    margin-top: -80px; /* Adjust to overlap cover photo */
	}
	
	.profile-picture img {
	    width: 220px;
	    height: 220px;
	    border-radius: 50%;
	    border: 4px solid #fbf2c4;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	
	.username h1 {
	    color: #008585;
	    margin: 10px 0;
	}
	
	
	.profile-content {
	    width: 60%;
	    margin: 0 auto;
	    background-color: #e5c185;
	    border-radius: 8px;
	    padding: 20px;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	
	.profile-info {
	    margin-bottom: 20px;
	}
	
	.profile-info ul {
	    list-style-type: none;
	    text-align:center;
	    padding: 0;
	}
	
	.profile-info li {
		font-size:22px;
	    margin: 10px 0;
	    color: #008585;
	}
	
	.social-links p {
	    margin: 5px 0;
	    font-size:22px;
	    text-align:center;
	}
	
	.social-links a {
	    color: #c7522a;
	    text-decoration: none;
	}
	
	.social-links a:hover {
	    text-decoration: underline;
	}
	
	hr {
	    border: none;
	    height: 1px;
	    background-color: #74a892;
	    margin: 20px 0;
	}
	
	.post-display {
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	
	.post-card {
	    margin: 10px;
	    width: 250px;
	    height: 250px;
	    border: 2px solid #74a892;
	    border-radius: 8px;
	    overflow: hidden;
	    position: relative;
	}
	
	.post-card img {
	    width: 100%;
	    height: 100%;
	    object-fit: cover;
	}
